In [29]:
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model, datasets
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [30]:
train = pd.read_csv("midterm_train.csv")

In [31]:
train

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,11.89%,54734,80364,"$25,000","$25,000","$19,080",36 months,829.10,B,B4,...,0,0,0,11-Oct,7392.08,NaN,12-Aug,0,NaN,1
1,10.71%,55742,114426,"$7,000","$7,000",$673,36 months,228.22,B,B5,...,0,0,0,11-Jun,228.48,NaN,12-Aug,0,NaN,1
2,16.99%,57167,137225,"$25,000","$25,000","$24,725",36 months,891.20,D,D3,...,44.56,0,0,14-Dec,935.76,NaN,15-Apr,0,NaN,1
3,13.57%,57416,139635,"$10,800","$10,800","$10,692",36 months,366.86,C,C3,...,0,0,0,12-Nov,398,NaN,15-Jun,0,NaN,1
4,19.05%,58524,149512,"$7,200","$7,200","$7,200",36 months,264.11,D,D4,...,0,0,0,14-Jun,3559.18,NaN,14-Dec,0,30,1
5,14.26%,59006,154254,"$3,000","$3,000","$2,988",36 months,102.92,C,C5,...,0,0,0,12-Oct,111.23,NaN,12-Sep,0,NaN,1
6,7.88%,61390,182594,"$4,000","$4,000","$3,900",36 months,125.13,A,A5,...,0,0,0,12-Mar,1454.31,NaN,12-Mar,0,NaN,1
7,9.88%,62102,191024,"$3,200","$3,200","$3,200",36 months,103.08,B,B1,...,0,0,0,11-Feb,2592.23,NaN,13-Mar,0,NaN,1
8,11.14%,65426,232106,"$4,000","$4,000","$3,892",36 months,131.22,B,B1,...,0,0,0,11-Jun,131.22,NaN,11-Oct,0,NaN,1
9,12.21%,66431,243540,"$2,525","$2,525","$2,375",36 months,84.12,B,B5,...,0,0,0,12-Mar,89.75,NaN,12-Mar,0,NaN,1
10,13.47%,66749,246329,"$10,625","$10,625","$5,325",36 months,360.43,C,C4,...,0,0,0,12-Jan,370.44,NaN,11-Dec,0,NaN,1
11,13.24%,66964,247990,"$7,500","$7,500",$986,36 months,253.58,D,D3,...,0,0,0,11-Jun,253.87,NaN,11-Jun,0,NaN,1
12,8.59%,67503,252415,"$10,000","$10,000","$10,000",36 months,316.11,A,A4,...,0,0,0,12-Feb,3064.45,NaN,14-Feb,0,NaN,1
13,7.14%,68163,258249,"$3,000","$3,000","$3,000",36 months,92.82,A,A3,...,0,0,0,13-Feb,97.75,NaN,13-Feb,0,NaN,1
14,8.63%,68381,260179,"$6,625","$6,625","$6,475",36 months,209.54,A,A5,...,0,0,0,11-Mar,424.12,NaN,15-Mar,0,NaN,1
15,11.03%,68817,264119,"$10,000","$10,000","$2,475",36 months,327.53,C,C1,...,0,0,0,10-Sep,23.15,NaN,10-Sep,0,NaN,1
16,NaN,68926,264924,"$2,300","$2,300",$590,36 months,77.69,D,D2,...,0,0,0,11-Sep,77.78,NaN,15-Jun,0,NaN,1
17,8.94%,69001,265533,"$15,000","$15,000","$14,875",36 months,476.58,A,A5,...,0,0,0,12-Jul,1919.13,NaN,12-Jul,0,NaN,1
18,10.39%,69124,266619,"$18,000","$18,000","$11,636",36 months,584.12,B,B4,...,0,0,0,11-Apr,598.22,NaN,15-Jun,0,NaN,1
19,15.13%,69168,266943,"$5,000","$5,000","$4,975",36 months,173.65,E,E4,...,0,0,0,11-Apr,184.81,NaN,13-Dec,0,NaN,1
20,8.00%,69251,267771,"$6,000","$6,000",$500,36 months,188.02,A,A3,...,14.99680885,0,0,11-May,189.36,NaN,11-May,0,NaN,1
21,15.33%,69550,270212,"$11,200","$11,200","$11,188",60 months,268.40,D,D3,...,0,0,0,14-Aug,2816.71,NaN,15-Jun,0,NaN,1
22,8.63%,69828,272798,"$15,000","$15,000","$13,138",36 months,474.42,A,A5,...,94.80505999,0,0,11-Aug,38.2,NaN,11-Aug,0,NaN,1
23,13.55%,69924,274280,"$10,000","$10,000","$8,790",36 months,339.60,D,D4,...,0,0,0,11-Apr,359.55,NaN,15-Jun,0,NaN,1
24,NaN,69990,275254,"$15,500","$15,500","$14,400",36 months,484.85,A,A5,...,0,0,0,13-Feb,472.56,NaN,13-Feb,0,NaN,1
25,12.29%,70348,280311,"$9,600","$9,600","$9,265",36 months,320.19,C,C5,...,0,0,0,10-May,3773.06,NaN,15-Jun,0,NaN,1
26,9.01%,76597,76583,"$5,000","$5,000","$1,775",36 months,159.03,B,B2,...,0,0,0,10-Jul,160.61,NaN,10-Jul,NaN,NaN,1
27,7.43%,84918,84914,"$5,000","$5,000","$2,025",36 months,155.38,A,A2,...,0,0,0,8-Apr,4268.52,NaN,7-Jun,NaN,NaN,1
28,7.43%,88854,70699,"$5,000","$5,000",$225,36 months,155.38,A,A2,...,0,0,0,8-Mar,0,NaN,7-May,NaN,NaN,1
29,7.43%,90376,89243,"$5,000","$5,000",$650,36 months,155.38,A,A2,...,0,0,0,8-Jan,0,NaN,7-Jun,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,8.19%,37840854,40603714,"$7,000","$7,000","$7,000",36 months,219.97,A,A5,...,0,0,0,15-Jun,219.97,15-Jul,15-Jun,0,64,1
324448,19.24%,37840885,40603759,"$35,000","$35,000","$35,000",36 months,1287.22,E,E2,...,0,0,0,15-Jun,1287.22,15-Jul,15-Jun,0,NaN,1
324449,11.99%,37840979,40603881,"$20,000","$20,000","$20,000",36 months,664.20,B,B5,...,0,0,0,15-Jun,664.2,15-Jul,15-Jun,0,NaN,1
324450,12.99%,37841007,40603919,"$15,000","$15,000","$15,000",36 months,505.34,C,C2,...,0,0,0,15-Jun,505.34,15-Jul,15-Jun,0,NaN,1
324451,8.19%,37841045,40603969,"$19,200","$19,200","$19,200",36 months,603.35,NaN,NaN,...,0,0,0,15-Jun,603.35,15-Jul,15-Jun,0,NaN,1
324452,19.24%,37841134,40604074,"$14,000","$14,000","$14,000",60 months,365.02,E,E2,...,18.25,0,0,15-Jun,383.27,15-Jul,15-Jun,0,NaN,1
324453,8.67%,37841174,40604121,"$12,500","$12,500","$12,500",60 months,257.49,B,B1,...,0,0,0,15-Jun,257.49,15-Jul,15-Jun,0,NaN,1
324454,16.49%,37841183,40604130,"$6,000","$6,000","$6,000",36 months,212.40,D,D3,...,0,0,0,15-Jun,212.4,15-Jul,15-Jun,0,NaN,1
324455,6.99%,37841237,40604193,"$28,000","$28,000","$28,000",36 months,864.44,A,A3,...,0,0,0,15-Jun,864.44,15-Jul,15-Jun,0,NaN,1
324456,19.24%,37841276,40604243,"$16,750","$16,750","$16,750",36 months,616.03,E,E2,...,0,0,0,15-Feb,16665.5,NaN,15-Mar,0,NaN,1
324457,10.49%,37841307,40604282,"$9,600","$9,600","$9,600",36 months,311.98,B,B3,...,0,0,0,15-Jun,311.98,15-Jul,15-Jun,0,42,1
324458,15.59%,37841314,40604289,"$1,000","$1,000","$1,000",36 months,34.96,D,D1,...,0,0,0,15-Jun,34.96,15-Jul,15-Jun,0,NaN,1
324459,8.19%,37841343,40604323,"$8,000","$8,000","$8,000",36 months,251.40,A,A5,...,0,0,0,15-Jun,251.4,15-Jul,15-Jun,0,NaN,1
324460,9.49%,37841350,40604331,"$26,000","$26,000","$26,000",36 months,832.74,B,B2,...,0,0,0,15-Jun,832.74,15-Jul,15-Jun,0,59,1
324461,7.49%,37841375,40604359,"$7,000","$7,000","$7,000",36 months,217.72,A,A4,...,0,0,0,15-Jun,217.72,15-Jul,15-Jun,0,NaN,1
324462,9.49%,37841428,40604426,"$4,000","$4,000","$4,000",36 months,128.12,B,B2,...,0,0,0,15-Jun,128.12,15-Jul,15-Jun,0,NaN,1
324463,11.99%,37841429,40604427,"$24,000","$24,000","$24,000",36 months,797.03,B,B5,...,0,0,0,15-Jun,797.03,15-Jul,15-Jun,0,NaN,1
324464,8.67%,37841472,40604475,"$10,000","$10,000","$10,000",36 months,316.47,NaN,NaN,...,0,0,0,15-Jun,316.47,15-Jul,15-Jun,0,NaN,1
324465,19.24%,37841535,40604556,"$11,000","$11,000","$11,000",60 months,286.81,E,E2,...,0,0,0,15-May,286.81,15-Jul,15-Jun,1,NaN,1
324466,12.39%,37841552,40604575,"$8,000","$8,000","$8,000",36 months,267.21,NaN,NaN,...,0,0,0,15-Jun,267.21,15-Jul,15-Jun,0,NaN,1
324467,NaN,37841570,40604594,"$24,000","$24,000","$24,000",60 months,616.52,NaN,NaN,...,0,0,0,15-Jun,616.52,15-Jul,15-Jun,0,51,1
324468,11.44%,37841594,40604621,"$11,000","$11,000","$11,000",36 months,362.43,B,B4,...,0,0,0,15-Jun,362.43,15-Jul,15-Jun,0,NaN,1
324469,14.99%,37841668,40604701,"$28,000","$28,000","$28,000",36 months,970.50,C,C5,...,0,0,0,15-Jun,970.5,15-Jul,15-Jun,0,13,1
324470,10.49%,37841841,40604912,"$5,500","$5,500","$5,500",36 months,178.74,B,B3,...,0,0,0,15-Jun,178.74,15-Jul,15-Jun,0,NaN,1
324471,15.59%,37842129,40605224,"$21,425","$21,425","$21,425",60 months,516.36,D,D1,...,0,0,0,15-Jun,516.36,15-Jul,15-Jun,0,74,1
324472,8.19%,37854137,40616855,"$4,000","$4,000","$4,000",36 months,125.70,A,A5,...,0,0,0,15-Jun,125.7,15-Jul,15-Jun,0,NaN,1
324473,11.44%,37854157,40616878,"$12,000","$12,000","$12,000",36 months,395.37,B,B4,...,0,0,0,15-Jun,395.37,15-Jul,15-Jun,0,35,1
324474,15.99%,37854423,40617173,"$2,000","$2,000","$2,000",36 months,70.31,D,D2,...,0,0,0,15-Jun,70.31,15-Jul,15-Jun,0,NaN,1
324475,11.44%,37854444,40617199,"$16,000","$16,000","$16,000",60 months,351.40,NaN,NaN,...,0,0,0,15-Jun,351.4,15-Jul,15-Jun,0,NaN,1
324476,12.39%,38098114,40860827,"$15,000","$15,000","$15,000",60 months,336.64,C,C1,...,0,0,0,15-Jun,336.64,15-Jul,15-Jun,0,NaN,1

In [32]:
train.describe()

               Loan_ID      Borrower_ID  Monthly_Payment   Annual_Income
count    324477.000000    324477.000000    324477.000000   274801.000000
mean   13145661.158156  14673129.804572       432.947560    73375.518124
std    10875525.606518  11658777.603057       243.602423    57952.097738
min       54734.000000     70699.000000        15.690000     3000.000000
25%     3703284.000000   4584336.000000       257.870000    45000.000000
50%    10122866.000000  11956936.000000       380.680000    63000.000000
75%    20751084.000000  23021691.000000       567.780000    88983.000000
max    38098114.000000  40860827.000000      1409.990000  7500000.000000

In [33]:
import re
def clean_loan(x):
        x = x.strip('$')
        return int(x.replace(',',''))
    
train['Loan_Amount_Requested']=train['Loan_Amount_Requested'].map(clean_loan)

In [34]:
train['Loan_Amount_Funded'] = train['Loan_Amount_Funded'].map(clean_loan)

In [35]:
train['Loan_Amount_Funded_by_Investors'] = train['Loan_Amount_Funded_by_Investors'].map(clean_loan)

In [36]:
train.dtypes

Interest_Rate                       object
Loan_ID                              int64
Borrower_ID                          int64
Loan_Amount_Requested                int64
Loan_Amount_Funded                   int64
Loan_Amount_Funded_by_Investors      int64
Initial_Loan_Term_Months            object
Monthly_Payment                    float64
Loan_Grade                          object
Sub_Loan_Grade                      object
Employer                            object
Length_Employed                     object
Home_Owner?                         object
Annual_Income                      float64
Income_Verified                     object
Month_Issued                        object
Current_Status                      object
Payment_Plan_Ind                    object
Loan_Description                    object
Purpose_Of_Loan                     object
Loan_Title                          object
Zip_3                               object
State                               object
Debt_To_Income                      object
Number_Delinqueny_2yrs              object
Month_Earliest_Credit               object
Inquiries_Last_6Mo                  object
Months_Since_Deliquency             object
Months_Since_Record                 object
Number_Open_Accounts                object
Public_Record_Count                 object
Revolving_Balance                   object
Revolving_Utilization               object
Total_Accounts                      object
Initial_Status                      object
Outstanding_Principal               object
Outstanding_Principal_Remaining     object
Total_Payment                       object
Total_Payment_Funded                object
Total_Received                      object
Total_Received_Interest             object
Total_Received_Late_Fees            object
Recoveries                          object
Collection_Recovery_Fee             object
Last_Payment_Received               object
Last_Payment_Total                  object
Next_Payment_Date                   object
Last_Credit_Pulled                  object
Collections_12Mo_Exclude_Med        object
Months_Since_Last_Derogatory        object
Policy_Code                         object
dtype: object

In [37]:
def clean_interest(x):
    temp = str(x).strip('%')
    return float(temp)/100
    
train['Interest_Rate']=train['Interest_Rate'].map(clean_interest)

In [38]:
train

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,0.1189,54734,80364,25000,25000,19080,36 months,829.10,B,B4,...,0,0,0,11-Oct,7392.08,NaN,12-Aug,0,NaN,1
1,0.1071,55742,114426,7000,7000,673,36 months,228.22,B,B5,...,0,0,0,11-Jun,228.48,NaN,12-Aug,0,NaN,1
2,0.1699,57167,137225,25000,25000,24725,36 months,891.20,D,D3,...,44.56,0,0,14-Dec,935.76,NaN,15-Apr,0,NaN,1
3,0.1357,57416,139635,10800,10800,10692,36 months,366.86,C,C3,...,0,0,0,12-Nov,398,NaN,15-Jun,0,NaN,1
4,0.1905,58524,149512,7200,7200,7200,36 months,264.11,D,D4,...,0,0,0,14-Jun,3559.18,NaN,14-Dec,0,30,1
5,0.1426,59006,154254,3000,3000,2988,36 months,102.92,C,C5,...,0,0,0,12-Oct,111.23,NaN,12-Sep,0,NaN,1
6,0.0788,61390,182594,4000,4000,3900,36 months,125.13,A,A5,...,0,0,0,12-Mar,1454.31,NaN,12-Mar,0,NaN,1
7,0.0988,62102,191024,3200,3200,3200,36 months,103.08,B,B1,...,0,0,0,11-Feb,2592.23,NaN,13-Mar,0,NaN,1
8,0.1114,65426,232106,4000,4000,3892,36 months,131.22,B,B1,...,0,0,0,11-Jun,131.22,NaN,11-Oct,0,NaN,1
9,0.1221,66431,243540,2525,2525,2375,36 months,84.12,B,B5,...,0,0,0,12-Mar,89.75,NaN,12-Mar,0,NaN,1
10,0.1347,66749,246329,10625,10625,5325,36 months,360.43,C,C4,...,0,0,0,12-Jan,370.44,NaN,11-Dec,0,NaN,1
11,0.1324,66964,247990,7500,7500,986,36 months,253.58,D,D3,...,0,0,0,11-Jun,253.87,NaN,11-Jun,0,NaN,1
12,0.0859,67503,252415,10000,10000,10000,36 months,316.11,A,A4,...,0,0,0,12-Feb,3064.45,NaN,14-Feb,0,NaN,1
13,0.0714,68163,258249,3000,3000,3000,36 months,92.82,A,A3,...,0,0,0,13-Feb,97.75,NaN,13-Feb,0,NaN,1
14,0.0863,68381,260179,6625,6625,6475,36 months,209.54,A,A5,...,0,0,0,11-Mar,424.12,NaN,15-Mar,0,NaN,1
15,0.1103,68817,264119,10000,10000,2475,36 months,327.53,C,C1,...,0,0,0,10-Sep,23.15,NaN,10-Sep,0,NaN,1
16,NaN,68926,264924,2300,2300,590,36 months,77.69,D,D2,...,0,0,0,11-Sep,77.78,NaN,15-Jun,0,NaN,1
17,0.0894,69001,265533,15000,15000,14875,36 months,476.58,A,A5,...,0,0,0,12-Jul,1919.13,NaN,12-Jul,0,NaN,1
18,0.1039,69124,266619,18000,18000,11636,36 months,584.12,B,B4,...,0,0,0,11-Apr,598.22,NaN,15-Jun,0,NaN,1
19,0.1513,69168,266943,5000,5000,4975,36 months,173.65,E,E4,...,0,0,0,11-Apr,184.81,NaN,13-Dec,0,NaN,1
20,0.0800,69251,267771,6000,6000,500,36 months,188.02,A,A3,...,14.99680885,0,0,11-May,189.36,NaN,11-May,0,NaN,1
21,0.1533,69550,270212,11200,11200,11188,60 months,268.40,D,D3,...,0,0,0,14-Aug,2816.71,NaN,15-Jun,0,NaN,1
22,0.0863,69828,272798,15000,15000,13138,36 months,474.42,A,A5,...,94.80505999,0,0,11-Aug,38.2,NaN,11-Aug,0,NaN,1
23,0.1355,69924,274280,10000,10000,8790,36 months,339.60,D,D4,...,0,0,0,11-Apr,359.55,NaN,15-Jun,0,NaN,1
24,NaN,69990,275254,15500,15500,14400,36 months,484.85,A,A5,...,0,0,0,13-Feb,472.56,NaN,13-Feb,0,NaN,1
25,0.1229,70348,280311,9600,9600,9265,36 months,320.19,C,C5,...,0,0,0,10-May,3773.06,NaN,15-Jun,0,NaN,1
26,0.0901,76597,76583,5000,5000,1775,36 months,159.03,B,B2,...,0,0,0,10-Jul,160.61,NaN,10-Jul,NaN,NaN,1
27,0.0743,84918,84914,5000,5000,2025,36 months,155.38,A,A2,...,0,0,0,8-Apr,4268.52,NaN,7-Jun,NaN,NaN,1
28,0.0743,88854,70699,5000,5000,225,36 months,155.38,A,A2,...,0,0,0,8-Mar,0,NaN,7-May,NaN,NaN,1
29,0.0743,90376,89243,5000,5000,650,36 months,155.38,A,A2,...,0,0,0,8-Jan,0,NaN,7-Jun,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,0.0819,37840854,40603714,7000,7000,7000,36 months,219.97,A,A5,...,0,0,0,15-Jun,219.97,15-Jul,15-Jun,0,64,1
324448,0.1924,37840885,40603759,35000,35000,35000,36 months,1287.22,E,E2,...,0,0,0,15-Jun,1287.22,15-Jul,15-Jun,0,NaN,1
324449,0.1199,37840979,40603881,20000,20000,20000,36 months,664.20,B,B5,...,0,0,0,15-Jun,664.2,15-Jul,15-Jun,0,NaN,1
324450,0.1299,37841007,40603919,15000,15000,15000,36 months,505.34,C,C2,...,0,0,0,15-Jun,505.34,15-Jul,15-Jun,0,NaN,1
324451,0.0819,37841045,40603969,19200,19200,19200,36 months,603.35,NaN,NaN,...,0,0,0,15-Jun,603.35,15-Jul,15-Jun,0,NaN,1
324452,0.1924,37841134,40604074,14000,14000,14000,60 months,365.02,E,E2,...,18.25,0,0,15-Jun,383.27,15-Jul,15-Jun,0,NaN,1
324453,0.0867,37841174,40604121,12500,12500,12500,60 months,257.49,B,B1,...,0,0,0,15-Jun,257.49,15-Jul,15-Jun,0,NaN,1
324454,0.1649,37841183,40604130,6000,6000,6000,36 months,212.40,D,D3,...,0,0,0,15-Jun,212.4,15-Jul,15-Jun,0,NaN,1
324455,0.0699,37841237,40604193,28000,28000,28000,36 months,864.44,A,A3,...,0,0,0,15-Jun,864.44,15-Jul,15-Jun,0,NaN,1
324456,0.1924,37841276,40604243,16750,16750,16750,36 months,616.03,E,E2,...,0,0,0,15-Feb,16665.5,NaN,15-Mar,0,NaN,1
324457,0.1049,37841307,40604282,9600,9600,9600,36 months,311.98,B,B3,...,0,0,0,15-Jun,311.98,15-Jul,15-Jun,0,42,1
324458,0.1559,37841314,40604289,1000,1000,1000,36 months,34.96,D,D1,...,0,0,0,15-Jun,34.96,15-Jul,15-Jun,0,NaN,1
324459,0.0819,37841343,40604323,8000,8000,8000,36 months,251.40,A,A5,...,0,0,0,15-Jun,251.4,15-Jul,15-Jun,0,NaN,1
324460,0.0949,37841350,40604331,26000,26000,26000,36 months,832.74,B,B2,...,0,0,0,15-Jun,832.74,15-Jul,15-Jun,0,59,1
324461,0.0749,37841375,40604359,7000,7000,7000,36 months,217.72,A,A4,...,0,0,0,15-Jun,217.72,15-Jul,15-Jun,0,NaN,1
324462,0.0949,37841428,40604426,4000,4000,4000,36 months,128.12,B,B2,...,0,0,0,15-Jun,128.12,15-Jul,15-Jun,0,NaN,1
324463,0.1199,37841429,40604427,24000,24000,24000,36 months,797.03,B,B5,...,0,0,0,15-Jun,797.03,15-Jul,15-Jun,0,NaN,1
324464,0.0867,37841472,40604475,10000,10000,10000,36 months,316.47,NaN,NaN,...,0,0,0,15-Jun,316.47,15-Jul,15-Jun,0,NaN,1
324465,0.1924,37841535,40604556,11000,11000,11000,60 months,286.81,E,E2,...,0,0,0,15-May,286.81,15-Jul,15-Jun,1,NaN,1
324466,0.1239,37841552,40604575,8000,8000,8000,36 months,267.21,NaN,NaN,...,0,0,0,15-Jun,267.21,15-Jul,15-Jun,0,NaN,1
324467,NaN,37841570,40604594,24000,24000,24000,60 months,616.52,NaN,NaN,...,0,0,0,15-Jun,616.52,15-Jul,15-Jun,0,51,1
324468,0.1144,37841594,40604621,11000,11000,11000,36 months,362.43,B,B4,...,0,0,0,15-Jun,362.43,15-Jul,15-Jun,0,NaN,1
324469,0.1499,37841668,40604701,28000,28000,28000,36 months,970.50,C,C5,...,0,0,0,15-Jun,970.5,15-Jul,15-Jun,0,13,1
324470,0.1049,37841841,40604912,5500,5500,5500,36 months,178.74,B,B3,...,0,0,0,15-Jun,178.74,15-Jul,15-Jun,0,NaN,1
324471,0.1559,37842129,40605224,21425,21425,21425,60 months,516.36,D,D1,...,0,0,0,15-Jun,516.36,15-Jul,15-Jun,0,74,1
324472,0.0819,37854137,40616855,4000,4000,4000,36 months,125.70,A,A5,...,0,0,0,15-Jun,125.7,15-Jul,15-Jun,0,NaN,1
324473,0.1144,37854157,40616878,12000,12000,12000,36 months,395.37,B,B4,...,0,0,0,15-Jun,395.37,15-Jul,15-Jun,0,35,1
324474,0.1599,37854423,40617173,2000,2000,2000,36 months,70.31,D,D2,...,0,0,0,15-Jun,70.31,15-Jul,15-Jun,0,NaN,1
324475,0.1144,37854444,40617199,16000,16000,16000,60 months,351.40,NaN,NaN,...,0,0,0,15-Jun,351.4,15-Jul,15-Jun,0,NaN,1
324476,0.1239,38098114,40860827,15000,15000,15000,60 months,336.64,C,C1,...,0,0,0,15-Jun,336.64,15-Jul,15-Jun,0,NaN,1

In [39]:
train.describe()

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment,Annual_Income
count,274975.000000,324477.000000,324477.000000,324477.000000,324477.000000,324477.000000,324477.000000,274801.000000
mean,0.138298,13145661.158156,14673129.804572,14350.451881,14326.371515,14271.041738,432.947560,73375.518124
std,0.043678,10875525.606518,11658777.603057,8289.587294,8277.348853,8290.408565,243.602423,57952.097738
min,0.054200,54734.000000,70699.000000,500.000000,500.000000,0.000000,15.690000,3000.000000
25%,0.109900,3703284.000000,4584336.000000,8000.000000,8000.000000,8000.000000,257.870000,45000.000000
50%,0.136600,10122866.000000,11956936.000000,12000.000000,12000.000000,12000.000000,380.680000,63000.000000
75%,0.164900,20751084.000000,23021691.000000,20000.000000,20000.000000,19975.000000,567.780000,88983.000000
max,0.260600,38098114.000000,40860827.000000,35000.000000,35000.000000,35000.000000,1409.990000,7500000.000000

In [40]:
mean_Int_rate = mean(train['Interest_Rate'])
mean_Int_rate
train.Interest_Rate = train.Interest_Rate.fillna(value=mean_Int_rate)

In [41]:
train.describe()

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment,Annual_Income
count,324477.000000,324477.000000,324477.000000,324477.000000,324477.000000,324477.000000,324477.000000,274801.000000
mean,0.138298,13145661.158156,14673129.804572,14350.451881,14326.371515,14271.041738,432.947560,73375.518124
std,0.040208,10875525.606518,11658777.603057,8289.587294,8277.348853,8290.408565,243.602423,57952.097738
min,0.054200,54734.000000,70699.000000,500.000000,500.000000,0.000000,15.690000,3000.000000
25%,0.113600,3703284.000000,4584336.000000,8000.000000,8000.000000,8000.000000,257.870000,45000.000000
50%,0.138298,10122866.000000,11956936.000000,12000.000000,12000.000000,12000.000000,380.680000,63000.000000
75%,0.158000,20751084.000000,23021691.000000,20000.000000,20000.000000,19975.000000,567.780000,88983.000000
max,0.260600,38098114.000000,40860827.000000,35000.000000,35000.000000,35000.000000,1409.990000,7500000.000000

In [42]:
y_train = train.pop('Interest_Rate')
y_train

0         0.118900
1         0.107100
2         0.169900
3         0.135700
4         0.190500
5         0.142600
6         0.078800
7         0.098800
8         0.111400
9         0.122100
10        0.134700
11        0.132400
12        0.085900
13        0.071400
14        0.086300
15        0.110300
16        0.138298
17        0.089400
18        0.103900
19        0.151300
20        0.080000
21        0.153300
22        0.086300
23        0.135500
24        0.138298
25        0.122900
26        0.090100
27        0.074300
28        0.074300
29        0.074300
            ...
324447    0.081900
324448    0.192400
324449    0.119900
324450    0.129900
324451    0.081900
324452    0.192400
324453    0.086700
324454    0.164900
324455    0.069900
324456    0.192400
324457    0.104900
324458    0.155900
324459    0.081900
324460    0.094900
324461    0.074900
324462    0.094900
324463    0.119900
324464    0.086700
324465    0.192400
324466    0.123900
324467    0.138298
324468    0.114400
324469    0.149900
324470    0.104900
324471    0.155900
324472    0.081900
324473    0.114400
324474    0.159900
324475    0.114400
324476    0.123900
Name: Interest_Rate, dtype: float64

In [43]:
train.drop(['Loan_ID'], axis=1, inplace=True)
train.drop(['Borrower_ID'], axis=1, inplace=True)

In [44]:
X_train=train
X_train.drop(['Income_Verified'], axis=1, inplace=True)
X_train.drop(['Month_Issued'], axis=1, inplace=True)
X_train.drop(['Current_Status'], axis=1, inplace=True)
X_train.drop(['Payment_Plan_Ind'], axis=1, inplace=True)
X_train.drop(['Loan_Description'], axis=1, inplace=True)

In [45]:
X_train.drop(['Initial_Loan_Term_Months'], axis=1, inplace=True)
X_train.drop(['Loan_Grade'], axis=1, inplace=True)
X_train.drop(['Sub_Loan_Grade'], axis=1, inplace=True)
X_train.drop(['Employer'], axis=1, inplace=True)
X_train.drop(['Length_Employed'], axis=1, inplace=True)
X_train.drop(['Home_Owner?'], axis=1, inplace=True)

In [46]:
X_train.drop(['Annual_Income'], axis=1, inplace=True)
X_train.drop(['Purpose_Of_Loan'], axis=1, inplace=True)
X_train.drop(['Loan_Title'], axis=1, inplace=True)
X_train.drop(['Zip_3'], axis=1, inplace=True)
X_train.drop(['State'], axis=1, inplace=True)
X_train.drop(['Debt_To_Income'], axis=1, inplace=True)

In [47]:
X_train.drop(['Number_Delinqueny_2yrs'], axis=1, inplace=True)
X_train.drop(['Month_Earliest_Credit'], axis=1, inplace=True)
X_train.drop(['Inquiries_Last_6Mo'], axis=1, inplace=True)
X_train.drop(['Months_Since_Deliquency'], axis=1, inplace=True)
X_train.drop(['Months_Since_Record'], axis=1, inplace=True)
X_train.drop(['Number_Open_Accounts'], axis=1, inplace=True)

In [48]:
X_train.drop(['Public_Record_Count'], axis=1, inplace=True)
X_train.drop(['Revolving_Balance'], axis=1, inplace=True)
X_train.drop(['Revolving_Utilization'], axis=1, inplace=True)
X_train.drop(['Total_Accounts'], axis=1, inplace=True)
X_train.drop(['Initial_Status'], axis=1, inplace=True)
X_train.drop(['Outstanding_Principal'], axis=1, inplace=True)

In [49]:
X_train.drop(['Outstanding_Principal_Remaining'], axis=1, inplace=True)
X_train.drop(['Total_Payment'], axis=1, inplace=True)
X_train.drop(['Total_Payment_Funded'], axis=1, inplace=True)
X_train.drop(['Total_Received'], axis=1, inplace=True)
X_train.drop(['Total_Received_Interest'], axis=1, inplace=True)
X_train.drop(['Total_Received_Late_Fees'], axis=1, inplace=True)
X_train.drop(['Recoveries'], axis=1, inplace=True)
X_train.drop(['Collection_Recovery_Fee'], axis=1, inplace=True)
X_train.drop(['Last_Payment_Received'], axis=1, inplace=True)
X_train.drop(['Last_Payment_Total'], axis=1, inplace=True)
X_train.drop(['Next_Payment_Date'], axis=1, inplace=True)
X_train.drop(['Last_Credit_Pulled'], axis=1, inplace=True)
X_train.drop(['Collections_12Mo_Exclude_Med'], axis=1, inplace=True)
X_train.drop(['Months_Since_Last_Derogatory'], axis=1, inplace=True)
X_train.drop(['Policy_Code'], axis=1, inplace=True)

In [50]:
X_train

,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment
0,25000,25000,19080,829.10
1,7000,7000,673,228.22
2,25000,25000,24725,891.20
3,10800,10800,10692,366.86
4,7200,7200,7200,264.11
5,3000,3000,2988,102.92
6,4000,4000,3900,125.13
7,3200,3200,3200,103.08
8,4000,4000,3892,131.22
9,2525,2525,2375,84.12
10,10625,10625,5325,360.43
11,7500,7500,986,253.58
12,10000,10000,10000,316.11
13,3000,3000,3000,92.82
14,6625,6625,6475,209.54
15,10000,10000,2475,327.53
16,2300,2300,590,77.69
17,15000,15000,14875,476.58
18,18000,18000,11636,584.12
19,5000,5000,4975,173.65
20,6000,6000,500,188.02
21,11200,11200,11188,268.40
22,15000,15000,13138,474.42
23,10000,10000,8790,339.60
24,15500,15500,14400,484.85
25,9600,9600,9265,320.19
26,5000,5000,1775,159.03
27,5000,5000,2025,155.38
28,5000,5000,225,155.38
29,5000,5000,650,155.38
...,...,...,...,...
324447,7000,7000,7000,219.97
324448,35000,35000,35000,1287.22
324449,20000,20000,20000,664.20
324450,15000,15000,15000,505.34
324451,19200,19200,19200,603.35
324452,14000,14000,14000,365.02
324453,12500,12500,12500,257.49
324454,6000,6000,6000,212.40
324455,28000,28000,28000,864.44
324456,16750,16750,16750,616.03
324457,9600,9600,9600,311.98
324458,1000,1000,1000,34.96
324459,8000,8000,8000,251.40
324460,26000,26000,26000,832.74
324461,7000,7000,7000,217.72
324462,4000,4000,4000,128.12
324463,24000,24000,24000,797.03
324464,10000,10000,10000,316.47
324465,11000,11000,11000,286.81
324466,8000,8000,8000,267.21
324467,24000,24000,24000,616.52
324468,11000,11000,11000,362.43
324469,28000,28000,28000,970.50
324470,5500,5500,5500,178.74
324471,21425,21425,21425,516.36
324472,4000,4000,4000,125.70
324473,12000,12000,12000,395.37
324474,2000,2000,2000,70.31
324475,16000,16000,16000,351.40
324476,15000,15000,15000,336.64

In [51]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_train

array([[ 1.28469176,  1.28950043,  0.58006377,  1.62622787],
       [-0.88671039, -0.88511224, -1.64021623, -0.84041806],
       [ 1.28469176,  1.28950043,  1.26097216,  1.88115184],
       ...,
       [-1.48987766, -1.48917132, -1.4801515 , -1.48864742],
       [ 0.19899069,  0.2021941 ,  0.20854954, -0.33475728],
       [ 0.07835723,  0.08138228,  0.08792804, -0.39534791]])

In [72]:
linearRegression = linear_model.LinearRegression()

In [53]:
linearRegression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [54]:
print("Variance: %f" %linearRegression.score(X_train, y_train))

Variance: 0.026665

In [56]:
print('Coefficients: \n', linearRegression.coef_)

('Coefficients: \n', array([-0.00571579,  0.00177056,  0.01463077, -0.00456826]))

In [94]:
test = pd.read_csv("midterm_test.csv")
X_test = test
X_test

,ID,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,0,15671090,17763514,"$6,000","$6,000","$5,950",36 months,202.14,B,B5,...,0,0,0,15-Jun,202.14,15-Jul,15-Jun,0,47,1
1,1,7699533,9401088,"$4,375","$4,375","$4,375",36 months,161.53,D,D4,...,0,0,0,15-Jun,161.53,15-Jul,15-Jun,0,NaN,1
2,2,12826375,14848495,"$17,500","$17,500","$17,500",60 months,413.03,C,C3,...,0,0,0,15-May,15004.64,NaN,15-Jun,0,NaN,1
3,3,6838614,8460512,"$10,625","$10,625","$10,625",36 months,342.79,B,B1,...,0,0,0,15-Jun,400,15-Jul,15-Jun,0,NaN,1
4,4,17002617,19135146,"$16,000","$16,000","$16,000",36 months,541.81,C,C2,...,0,0,0,15-Jun,541.81,15-Jul,15-Jun,0,NaN,1
5,5,13116133,15138338,"$5,000","$5,000","$5,000",36 months,160.57,B,B1,...,0,0,0,15-Apr,3533.51,NaN,15-May,0,NaN,1
6,6,888777,1105156,"$30,000","$30,000","$30,000",36 months,992.28,B,B3,...,0,0,0,14-Oct,1016.17,NaN,15-Jun,0,NaN,1
7,7,35713853,38409323,"$6,000","$6,000","$6,000",36 months,205.98,C,C4,...,0,0,0,15-Jun,205.98,15-Jul,15-Jun,0,NaN,1
8,8,3005193,3637403,"$9,000","$9,000","$9,000",36 months,299.45,B,B3,...,0,0,0,14-Oct,4451.12,NaN,15-Jun,0,33,1
9,9,3150762,3863324,"$9,000","$9,000","$9,000",36 months,299.45,B,B3,...,0,0,0,15-Jun,299.45,15-Jul,15-Jun,0,NaN,1
10,10,1001994,1228025,"$7,500","$7,500","$7,500",36 months,257.32,C,C2,...,0,350.23,3.45,12-Jul,257.32,NaN,12-Dec,0,NaN,1
11,11,5425753,4595656,"$5,600","$5,600","$5,600",36 months,204.57,D,D3,...,0,745.7,7.457,13-Oct,204.57,NaN,14-Feb,0,NaN,1
12,12,2087156,2419494,"$6,500","$6,500","$6,500",60 months,171.20,D,D5,...,0,0,0,15-Jun,171.2,15-Jul,15-Jun,0,NaN,1
13,13,13327502,15369718,"$35,000","$35,000","$35,000",60 months,906.38,D,D4,...,0,0,0,15-Jun,906.38,15-Jul,15-Jun,0,NaN,1
14,14,8365812,10107888,"$5,400","$5,400","$5,400",36 months,190.39,C,C4,...,0,0,0,14-Aug,4474.13,NaN,15-Jun,0,NaN,1
15,15,462762,579109,"$14,400","$14,400","$14,250",36 months,506.27,D,D5,...,0,0,0,12-Dec,542.63,NaN,15-Jun,0,NaN,1
16,16,35863438,38558882,"$18,500","$18,500","$18,500",60 months,381.08,B,B1,...,0,0,0,15-Jun,381.08,15-Jul,15-Jun,0,NaN,1
17,17,12527637,14539762,"$16,750","$16,750","$16,750",60 months,476.34,NaN,NaN,...,0,0,0,15-Mar,476.34,15-Jul,15-Jun,0,NaN,1
18,18,645629,826114,"$13,750","$13,750","$13,700",36 months,436.48,B,B1,...,0,0,0,12-May,8913.61,NaN,15-Jun,0,NaN,1
19,19,1622760,1894960,"$4,950","$4,950","$4,900",36 months,162.39,B,B2,...,0,0,0,15-Jun,162.39,15-Jul,15-Jun,0,NaN,1
20,20,2905398,3537633,"$12,000","$12,000","$11,975",36 months,388.11,B,B1,...,19.41,1325.01,100.79,14-Sep,795.63,NaN,15-Feb,0,NaN,1
21,21,33521179,36164443,"$21,000","$21,000","$21,000",60 months,440.94,NaN,NaN,...,0,0,0,15-Jun,440.94,15-Jul,15-Jun,0,40,1
22,22,10535589,12417665,"$5,000","$5,000","$5,000",36 months,169.75,B,B5,...,0,0,0,14-Oct,4102.12,NaN,15-May,0,NaN,1
23,23,5607465,6989771,"$12,000","$12,000","$12,000",36 months,368.45,NaN,NaN,...,0,0,0,15-Jun,368.45,15-Jul,15-Jun,0,NaN,1
24,24,8025229,9747348,"$20,000","$20,000","$19,975",36 months,664.20,B,B3,...,0,0,0,15-Jun,664.2,15-Jul,15-Jun,0,NaN,1
25,25,2477047,2969395,"$20,425","$20,425","$20,425",60 months,510.59,C,C5,...,0,0,0,13-Dec,18377.48,NaN,14-Dec,0,29,1
26,26,1134567,1373718,"$7,200","$7,200","$7,200",36 months,228.63,A,A5,...,0,0,0,15-Feb,235.17,NaN,15-Feb,0,NaN,1
27,27,7337552,8999600,"$4,000","$4,000","$4,000",36 months,150.71,E,E1,...,0,0,0,14-Dec,150.71,NaN,15-May,0,NaN,1
28,28,740057,937705,"$9,000","$9,000","$9,000",36 months,279.92,A,A4,...,0,0,0,12-Aug,5781.74,NaN,12-Aug,0,NaN,1
29,29,26387985,28861019,"$8,000","$8,000","$8,000",36 months,252.14,NaN,NaN,...,0,0,0,14-Dec,7659.4,NaN,14-Nov,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117957,117957,1159277,1399989,"$3,000","$3,000","$3,000",36 months,93.88,NaN,NaN,...,0,0,0,15-Mar,97.81,NaN,15-Jun,0,NaN,1
117958,117958,6309465,7840867,"$18,000","$18,000","$18,000",36 months,594.00,B,B3,...,0,0,0,14-Dec,11353.51,NaN,15-Jun,0,NaN,1
117959,117959,2074601,2426755,"$5,000","$5,000","$5,000",36 months,176.51,C,C4,...,0,0,0,12-Dec,176.51,NaN,13-Apr,0,NaN,1
117960,117960,12765730,14787891,"$12,000","$12,000","$12,000",60 months,306.30,D,D5,...,0,0,0,15-Jun,306.3,15-Jul,15-Jun,0,NaN,1
117961,117961,6187337,7659459,"$12,000","$12,000","$12,000",36 months,381.04,A,A5,...,0,0,0,15-Jun,420,15-Jul,15-Jun,0,NaN,1
117962,117962,30255518,32798704,"$8,450","$8,450","$8,450",36 months,311.97,E,E2,...,0,0,0,15-Jun,311.97,15-Jul,15-Jun,0,NaN,1
117963,117963,9215023,11037155,"$7,200","$7,200","$7,200",36 months,239.11,B,B3,...,0,0,0,15-Jun,239.11,15-Jul,15-Jun,0,NaN,1
117964,117964,27681202,30194329,"$20,000","$20,000","$20,000",36 months,661.14,B,B4,...,0,0,0,15-May,17357.13,NaN,15-Jun,0,NaN,1
117965,117965,20780050,23052701,"$6,500","$6,500","$6,500",36 months,218.98,C,C1,...,0,0,0,15-Jun,218.98,15-Jul,15-Jun,0,12,1
117966,117966,4290120,5482741,"$24,000","$24,000","$24,000",60 months,547.43,B,B4,...,0,0,0,15-Jun,547.43,15-Jul,15-Jun,0,NaN,1
117967,117967,11966376,13958532,"$28,000","$28,000","$27,975",36 months,929.87,B,B3,...,0,0,0,15-Jun,929.87,15-Jul,15-Jun,0,NaN,1
117968,117968,6583390,8135346,"$17,000","$17,000","$17,000",36 months,539.81,A,A5,...,0,0,0,15-Jun,539.81,15-Jul,15-Jun,0,NaN,1
117969,117969,14258458,16310839,"$32,000","$32,000","$32,000",36 months,1070.37,B,B4,...,0,0,0,15-Jun,1070.37,15-Jul,15-Jun,0,NaN,1
117970,117970,11366909,13299101,"$13,375","$13,375","$13,375",36 months,467.66,C,C5,...,0,0,0,15-Jun,467.66,15-Jul,15-Jun,0,NaN,1
117971,117971,9445163,8731868,"$10,000","$10,000","$10,000",36 months,344.07,C,C2,...,0,0,0,15-Jun,344.07,15-Jul,15-Jun,0,NaN,1
117972,117972,5791997,7223777,"$7,200","$7,200","$7,200",36 months,232.87,B,B1,...,0,0,0,15-May,232.87,15-Jul,15-Jun,0,NaN,1
117973,117973,3527477,4419998,"$10,500","$10,500","$10,500",36 months,339.60,B,B1,...,0,0,0,13-Nov,2958.26,NaN,14-Sep,0,17,1
117974,117974,7718857,9420385,"$8,000","$8,000","$8,000",36 months,279.72,C,C3,...,0,0,0,14-Aug,6417.17,NaN,15-Jun,1,12,1
117975,117975,606303,777793,"$7,000","$7,000","$7,000",36 months,222.21,B,B1,...,0,191.67,2.04,12-Jul,222.21,NaN,12-Dec,0,NaN,1
117976,117976,22434406,24767078,"$5,500","$5,500","$5,500",36 months,186.25,C,C2,...,0,0,0,15-Jun,186.25,15-Jul,15-Jun,0,NaN,1
117977,117977,27650405,26987891,"$12,000","$12,000","$12,000",36 months,392.81,B,B3,...,0,0,0,15-Jun,392.81,15-Aug,15-Jun,0,73,1
117978,117978,1172130,1413298,"$3,000","$3,000","$3,000",36 months,96.47,NaN,NaN,...,0,0,0,14-Feb,674.24,NaN,15-Jun,0,NaN,1
117979,117979,3606068,4538302,"$4,200","$4,200","$4,200",36 months,128.71,A,A2,...,0,0,0,15-Jun,128.71,15-Jul,15-Jun,0,NaN,1
117980,117980,11214882,13127034,"$10,000","$10,000","$10,000",36 months,339.50,B,B5,...,0,0,0,15-Jun,339.5,15-Jul,15-Jun,0,35,1
117981,117981,1142502,1383265,"$16,500","$16,500","$16,500",36 months,613.12,E,E1,...,0,0,0,13-Dec,8706.37,NaN,13-Dec,0,NaN,1
117982,117982,15620110,17712543,"$12,000","$12,000","$11,950",36 months,392.81,B,B3,...,0,0,0,15-Jun,392.81,15-Jul,15-Jun,0,NaN,1
117983,117983,7072505,8734068,"$8,000","$8,000","$8,000",36 months,272.15,B,B5,...,0,0,0,15-Jun,272.15,15-Jul,15-Jun,0,35,1
117984,117984,23823929,26196795,"$20,000","$20,000","$19,975",36 months,612.89,A,A2,...,0,0,0,15-Jun,612.89,15-Jul,15-Jun,0,NaN,1
117985,117985,15600122,17692546,"$23,200","$23,200","$23,200",60 months,571.48,D,D1,...,0,0,0,15-Jun,571.48,15-Jul,15-Jun,0,NaN,1
117986,117986,15611083,17703510,"$10,000","$10,000","$10,000",36 months,336.90,B,B5,...,0,0,0,15-Jun,336.9,15-Jul,15-Jun,0,NaN,1

In [95]:
X_test['Loan_Amount_Requested'] = X_test['Loan_Amount_Requested'].map(clean_loan)
X_test['Loan_Amount_Funded'] = X_test['Loan_Amount_Funded'].map(clean_loan)
X_test['Loan_Amount_Funded_by_Investors'] = X_test['Loan_Amount_Funded_by_Investors'].map(clean_loan)

In [96]:
X_test.describe()

,ID,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment
count,117987.000000,117987.000000,117987.000000,117987.000000,117987.000000,117987.000000,117987.000000
mean,58993.000000,13192185.767390,14718310.362506,14347.291651,14321.730784,14265.780052,432.902721
std,34060.057443,10914425.400505,11699633.091690,8283.798182,8271.904332,8284.527177,243.303335
min,0.000000,57245.000000,73673.000000,500.000000,500.000000,0.000000,16.470000
25%,29496.500000,3701986.000000,4582226.500000,8000.000000,8000.000000,8000.000000,257.050000
50%,58993.000000,10130960.000000,11964760.000000,12000.000000,12000.000000,12000.000000,381.040000
75%,88489.500000,20782505.000000,23052289.000000,20000.000000,20000.000000,19975.000000,567.190000
max,117986.000000,37841931.000000,40605012.000000,35000.000000,35000.000000,35000.000000,1408.130000

In [98]:
X_test.drop(['ID'], axis=1, inplace=True)
X_test.drop(['Loan_ID'], axis=1, inplace=True)
X_test.drop(['Borrower_ID'], axis=1, inplace=True)

In [99]:
X_test.drop(['Initial_Loan_Term_Months'], axis=1, inplace=True)
X_test.drop(['Loan_Grade'], axis=1, inplace=True)
X_test.drop(['Sub_Loan_Grade'], axis=1, inplace=True)
X_test.drop(['Employer'], axis=1, inplace=True)
X_test.drop(['Length_Employed'], axis=1, inplace=True)
X_test.drop(['Home_Owner?'], axis=1, inplace=True)

In [100]:
X_test.drop(['Annual_Income'], axis=1, inplace=True)
X_test.drop(['Income_Verified'], axis=1, inplace=True)
X_test.drop(['Month_Issued'], axis=1, inplace=True)
X_test.drop(['Current_Status'], axis=1, inplace=True)
X_test.drop(['Payment_Plan_Ind'], axis=1, inplace=True)
X_test.drop(['Loan_Description'], axis=1, inplace=True)

In [101]:
X_test.drop(['Purpose_Of_Loan'], axis=1, inplace=True)
X_test.drop(['Loan_Title'], axis=1, inplace=True)
X_test.drop(['Zip_3'], axis=1, inplace=True)
X_test.drop(['State'], axis=1, inplace=True)
X_test.drop(['Debt_To_Income'], axis=1, inplace=True)
X_test.drop(['Number_Delinqueny_2yrs'], axis=1, inplace=True)
X_test.drop(['Total_Received_Late_Fees'], axis=1, inplace=True)

In [102]:
X_test.drop(['Month_Earliest_Credit'], axis=1, inplace=True)
X_test.drop(['Inquiries_Last_6Mo'], axis=1, inplace=True)
X_test.drop(['Months_Since_Deliquency'], axis=1, inplace=True)
X_test.drop(['Months_Since_Record'], axis=1, inplace=True)
X_test.drop(['Number_Open_Accounts'], axis=1, inplace=True)
X_test.drop(['Public_Record_Count'], axis=1, inplace=True)
X_test.drop(['Total_Received_Interest'], axis=1, inplace=True)
X_test.drop(['Recoveries'], axis=1, inplace=True)
X_test.drop(['Collection_Recovery_Fee'], axis=1, inplace=True)

In [103]:
X_test.drop(['Revolving_Balance'], axis=1, inplace=True)
X_test.drop(['Revolving_Utilization'], axis=1, inplace=True)
X_test.drop(['Total_Accounts'], axis=1, inplace=True)
X_test.drop(['Initial_Status'], axis=1, inplace=True)
X_test.drop(['Outstanding_Principal'], axis=1, inplace=True)
X_test.drop(['Outstanding_Principal_Remaining'], axis=1, inplace=True)
X_test.drop(['Total_Payment'], axis=1, inplace=True)
X_test.drop(['Total_Payment_Funded'], axis=1, inplace=True)
X_test.drop(['Total_Received'], axis=1, inplace=True)
X_test.drop(['Last_Payment_Received'], axis=1, inplace=True)
X_test.drop(['Last_Payment_Total'], axis=1, inplace=True)
X_test.drop(['Next_Payment_Date'], axis=1, inplace=True)
X_test.drop(['Last_Credit_Pulled'], axis=1, inplace=True)
X_test.drop(['Collections_12Mo_Exclude_Med'], axis=1, inplace=True)
X_test.drop(['Months_Since_Last_Derogatory'], axis=1, inplace=True)
X_test.drop(['Policy_Code'], axis=1, inplace=True)

In [104]:
X_test

,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment
0,6000,6000,5950,202.14
1,4375,4375,4375,161.53
2,17500,17500,17500,413.03
3,10625,10625,10625,342.79
4,16000,16000,16000,541.81
5,5000,5000,5000,160.57
6,30000,30000,30000,992.28
7,6000,6000,6000,205.98
8,9000,9000,9000,299.45
9,9000,9000,9000,299.45
10,7500,7500,7500,257.32
11,5600,5600,5600,204.57
12,6500,6500,6500,171.20
13,35000,35000,35000,906.38
14,5400,5400,5400,190.39
15,14400,14400,14250,506.27
16,18500,18500,18500,381.08
17,16750,16750,16750,476.34
18,13750,13750,13700,436.48
19,4950,4950,4900,162.39
20,12000,12000,11975,388.11
21,21000,21000,21000,440.94
22,5000,5000,5000,169.75
23,12000,12000,12000,368.45
24,20000,20000,19975,664.20
25,20425,20425,20425,510.59
26,7200,7200,7200,228.63
27,4000,4000,4000,150.71
28,9000,9000,9000,279.92
29,8000,8000,8000,252.14
...,...,...,...,...
117957,3000,3000,3000,93.88
117958,18000,18000,18000,594.00
117959,5000,5000,5000,176.51
117960,12000,12000,12000,306.30
117961,12000,12000,12000,381.04
117962,8450,8450,8450,311.97
117963,7200,7200,7200,239.11
117964,20000,20000,20000,661.14
117965,6500,6500,6500,218.98
117966,24000,24000,24000,547.43
117967,28000,28000,27975,929.87
117968,17000,17000,17000,539.81
117969,32000,32000,32000,1070.37
117970,13375,13375,13375,467.66
117971,10000,10000,10000,344.07
117972,7200,7200,7200,232.87
117973,10500,10500,10500,339.60
117974,8000,8000,8000,279.72
117975,7000,7000,7000,222.21
117976,5500,5500,5500,186.25
117977,12000,12000,12000,392.81
117978,3000,3000,3000,96.47
117979,4200,4200,4200,128.71
117980,10000,10000,10000,339.50
117981,16500,16500,16500,613.12
117982,12000,12000,11950,392.81
117983,8000,8000,8000,272.15
117984,20000,20000,19975,612.89
117985,23200,23200,23200,571.48
117986,10000,10000,10000,336.90

In [105]:
X_test = scaler.fit_transform(X_test)
X_test

array([[-1.00766905, -1.00602784, -1.00377669, -0.94846089],
       [-1.20383593, -1.20247679, -1.19389094, -1.11537259],
       [ 0.38058891,  0.38422624,  0.39039448, -0.08167913],
       ...,
       [ 0.68238412,  0.68645539,  0.68914544,  0.73976808],
       [ 1.06868198,  1.07330869,  1.078427  ,  0.5695683 ],
       [-0.52479672, -0.5224612 , -0.51491148, -0.39458205]])

In [106]:
linearRegression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [107]:
y_test = linearRegression.predict(X_test)
y_test

array([ 0.13192278,  0.13067718,  0.14288743, ...,  0.14231592,
        0.14726588,  0.13464118])

In [133]:
linearRegression.score(X_test, y_test)

1.0

In [116]:
y_test.shape

(117987L,)

In [128]:
ID = []
for i in range(0, 117987):
    ID.append(i)

In [131]:
df = DataFrame({'ID': ID, 'Rate': linearRegression.predict(X_test)})
df.to_excel('Reyling_midterm_rate.xlsx', sheet_name='sheet1', index=False)

In [47]:
def describe_categorical(X):
    from IPython.display import display, HTML
    display(HTML(X[X.columns[X.dtypes == 'object']].describe().to_html()))

In [48]:
describe_categorical(df)

In [49]:
dummies = pd.get_dummies(df['Initial_Loan_Term_Months'], prefix='Initial_Loan_Term_Months')
df = pd.concat([df, dummies], axis=1)
df.drop(['Initial_Loan_Term_Months'], axis=1, inplace=True)

In [50]:
df

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,Employer,...,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code,Initial_Loan_Term_Months_ 36 months,Initial_Loan_Term_Months_ 60 months
0,0.118900,54734,80364,25000,25000,19080,829.10,B,B4,NaN,...,0,11-Oct,7392.08,NaN,12-Aug,0,NaN,1,1,0
1,0.107100,55742,114426,7000,7000,673,228.22,B,B5,CNN,...,0,11-Jun,228.48,NaN,12-Aug,0,NaN,1,1,0
2,0.169900,57167,137225,25000,25000,24725,891.20,D,D3,Web Programmer,...,0,14-Dec,935.76,NaN,15-Apr,0,NaN,1,1,0
3,0.135700,57416,139635,10800,10800,10692,366.86,C,C3,State Farm Insurance,...,0,12-Nov,398,NaN,15-Jun,0,NaN,1,1,0
4,0.190500,58524,149512,7200,7200,7200,264.11,D,D4,Arkwright,...,0,14-Jun,3559.18,NaN,14-Dec,0,30,1,1,0
5,0.142600,59006,154254,3000,3000,2988,102.92,C,C5,NaN,...,0,12-Oct,111.23,NaN,12-Sep,0,NaN,1,1,0
6,0.078800,61390,182594,4000,4000,3900,125.13,A,A5,NaN,...,0,12-Mar,1454.31,NaN,12-Mar,0,NaN,1,1,0
7,0.098800,62102,191024,3200,3200,3200,103.08,B,B1,Rockwell Automation Inc.,...,0,11-Feb,2592.23,NaN,13-Mar,0,NaN,1,1,0
8,0.111400,65426,232106,4000,4000,3892,131.22,B,B1,"Infotrieve, Inc.",...,0,11-Jun,131.22,NaN,11-Oct,0,NaN,1,1,0
9,0.122100,66431,243540,2525,2525,2375,84.12,B,B5,Video Monitoring Services,...,0,12-Mar,89.75,NaN,12-Mar,0,NaN,1,1,0
10,0.134700,66749,246329,10625,10625,5325,360.43,C,C4,crown cork & seal,...,0,12-Jan,370.44,NaN,11-Dec,0,NaN,1,1,0
11,0.132400,66964,247990,7500,7500,986,253.58,D,D3,Acquity,...,0,11-Jun,253.87,NaN,11-Jun,0,NaN,1,1,0
12,0.085900,67503,252415,10000,10000,10000,316.11,A,A4,Genesys PHO,...,0,12-Feb,3064.45,NaN,14-Feb,0,NaN,1,1,0
13,0.071400,68163,258249,3000,3000,3000,92.82,A,A3,Matrix Resources,...,0,13-Feb,97.75,NaN,13-Feb,0,NaN,1,1,0
14,0.086300,68381,260179,6625,6625,6475,209.54,A,A5,Albertsons,...,0,11-Mar,424.12,NaN,15-Mar,0,NaN,1,1,0
15,0.110300,68817,264119,10000,10000,2475,327.53,C,C1,CAROLINA BROKERAGE CO,...,0,10-Sep,23.15,NaN,10-Sep,0,NaN,1,1,0
16,0.138298,68926,264924,2300,2300,590,77.69,D,D2,UBS,...,0,11-Sep,77.78,NaN,15-Jun,0,NaN,1,1,0
17,0.089400,69001,265533,15000,15000,14875,476.58,A,A5,NaN,...,0,12-Jul,1919.13,NaN,12-Jul,0,NaN,1,1,0
18,0.103900,69124,266619,18000,18000,11636,584.12,B,B4,Cellnetix Pathology,...,0,11-Apr,598.22,NaN,15-Jun,0,NaN,1,1,0
19,0.151300,69168,266943,5000,5000,4975,173.65,E,E4,BJ OIL SERVICE COMPANY,...,0,11-Apr,184.81,NaN,13-Dec,0,NaN,1,1,0
20,0.080000,69251,267771,6000,6000,500,188.02,A,A3,NaN,...,0,11-May,189.36,NaN,11-May,0,NaN,1,1,0
21,0.153300,69550,270212,11200,11200,11188,268.40,D,D3,Witron Intergrated logistics,...,0,14-Aug,2816.71,NaN,15-Jun,0,NaN,1,0,1
22,0.086300,69828,272798,15000,15000,13138,474.42,A,A5,State of Michigan,...,0,11-Aug,38.2,NaN,11-Aug,0,NaN,1,1,0
23,0.135500,69924,274280,10000,10000,8790,339.60,D,D4,GAP,...,0,11-Apr,359.55,NaN,15-Jun,0,NaN,1,1,0
24,0.138298,69990,275254,15500,15500,14400,484.85,A,A5,Diageo North America,...,0,13-Feb,472.56,NaN,13-Feb,0,NaN,1,1,0
25,0.122900,70348,280311,9600,9600,9265,320.19,C,C5,City Lights LTD,...,0,10-May,3773.06,NaN,15-Jun,0,NaN,1,1,0
26,0.090100,76597,76583,5000,5000,1775,159.03,B,B2,Ping Interactive,...,0,10-Jul,160.61,NaN,10-Jul,NaN,NaN,1,1,0
27,0.074300,84918,84914,5000,5000,2025,155.38,A,A2,Revere Public Schools,...,0,8-Apr,4268.52,NaN,7-Jun,NaN,NaN,1,1,0
28,0.074300,88854,70699,5000,5000,225,155.38,A,A2,Rail Europe Group,...,0,8-Mar,0,NaN,7-May,NaN,NaN,1,1,0
29,0.074300,90376,89243,5000,5000,650,155.38,A,A2,NaN,...,0,8-Jan,0,NaN,7-Jun,NaN,NaN,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,0.081900,37840854,40603714,7000,7000,7000,219.97,A,A5,Finance / Operations,...,0,15-Jun,219.97,15-Jul,15-Jun,0,64,1,1,0
324448,0.192400,37840885,40603759,35000,35000,35000,1287.22,E,E2,Investment Specialist,...,0,15-Jun,1287.22,15-Jul,15-Jun,0,NaN,1,1,0
324449,0.119900,37840979,40603881,20000,20000,20000,664.20,B,B5,SERVICE ADVISOR,...,0,15-Jun,664.2,15-Jul,15-Jun,0,NaN,1,1,0
324450,0.129900,37841007,40603919,15000,15000,15000,505.34,C,C2,corporate catering supervisor,...,0,15-Jun,505.34,15-Jul,15-Jun,0,NaN,1,1,0
324451,0.081900,37841045,40603969,19200,19200,19200,603.35,NaN,NaN,Senior Business Analyst,...,0,15-Jun,603.35,15-Jul,15-Jun,0,NaN,1,1,0
324452,0.192400,37841134,40604074,14000,14000,14000,365.02,E,E2,Corrections officer,...,0,15-Jun,383.27,15-Jul,15-Jun,0,NaN,1,0,1
324453,0.086700,37841174,40604121,12500,12500,12500,257.49,B,B1,Electronic System Engineer,...,0,15-Jun,257.49,15-Jul,15-Jun,0,NaN,1,0,1
324454,0.164900,37841183,40604130,6000,6000,6000,212.40,D,D3,Federal Officer,...,0,15-Jun,212.4,15-Jul,15-Jun,0,NaN,1,1,0
324455,0.069900,37841237,40604193,28000,28000,28000,864.44,A,A3,CCO,...,0,15-Jun,864.44,15-Jul,15-Jun,0,NaN,1,1,0
324456,0.192400,37841276,40604243,16750,16750,16750,616.03,E,E2,sales person,...,0,15-Feb,16665.5,NaN,15-Mar,0,NaN,1,1,0
324457,0.104900,37841307,40604282,9600,9600,9600,311.98,B,B3,REGISTERED NURSE,...,0,15-Jun,311.98,15-Jul,15-Jun,0,42,1,1,0
324458,0.155900,37841314,40604289,1000,1000,1000,34.96,D,D1,MERC WORKLOAD CLERK,...,0,15-Jun,34.96,15-Jul,15-Jun,0,NaN,1,1,0
324459,0.081900,37841343,40604323,8000,8000,8000,251.40,A,A5,prop maker,...,0,15-Jun,251.4,15-Jul,15-Jun,0,NaN,1,1,0
324460,0.094900,37841350,40604331,26000,26000,26000,832.74,B,B2,NaN,...,0,15-Jun,832.74,15-Jul,15-Jun,0,59,1,1,0
324461,0.074900,37841375,40604359,7000,7000,7000,217.72,A,A4,Draftsman,...,0,15-Jun,217.72,15-Jul,15-Jun,0,NaN,1,1,0
324462,0.094900,37841428,40604426,4000,4000,4000,128.12,B,B2,Installer,...,0,15-Jun,128.12,15-Jul,15-Jun,0,NaN,1,1,0
324463,0.119900,37841429,40604427,24000,24000,24000,797.03,B,B5,Account executive,...,0,15-Jun,797.03,15-Jul,15-Jun,0,NaN,1,1,0
324464,0.086700,37841472,40604475,10000,10000,10000,316.47,NaN,NaN,Communications Manager,...,0,15-Jun,316.47,15-Jul,15-Jun,0,NaN,1,1,0
324465,0.192400,37841535,40604556,11000,11000,11000,286.81,E,E2,Social Worker,...,0,15-May,286.81,15-Jul,15-Jun,1,NaN,1,0,1
324466,0.123900,37841552,40604575,8000,8000,8000,267.21,NaN,NaN,associate,...,0,15-Jun,267.21,15-Jul,15-Jun,0,NaN,1,1,0
324467,0.138298,37841570,40604594,24000,24000,24000,616.52,NaN,NaN,Business Analyst,...,0,15-Jun,616.52,15-Jul,15-Jun,0,51,1,0,1
324468,0.114400,37841594,40604621,11000,11000,11000,362.43,B,B4,Director,...,0,15-Jun,362.43,15-Jul,15-Jun,0,NaN,1,1,0
324469,0.149900,37841668,40604701,28000,28000,28000,970.50,C,C5,Vice President of Video Services,...,0,15-Jun,970.5,15-Jul,15-Jun,0,13,1,1,0
324470,0.104900,37841841,40604912,5500,5500,5500,178.74,B,B3,NaN,...,0,15-Jun,178.74,15-Jul,15-Jun,0,NaN,1,1,0
324471,0.155900,37842129,40605224,21425,21425,21425,516.36,D,D1,Programming Analysis Supervisor,...,0,15-Jun,516.36,15-Jul,15-Jun,0,74,1,0,1
324472,0.081900,37854137,40616855,4000,4000,4000,125.70,A,A5,Program Assistant,...,0,15-Jun,125.7,15-Jul,15-Jun,0,NaN,1,1,0
324473,0.114400,37854157,40616878,12000,12000,12000,395.37,B,B4,Construction Scheduler,...,0,15-Jun,395.37,15-Jul,15-Jun,0,35,1,1,0
324474,0.159900,37854423,40617173,2000,2000,2000,70.31,D,D2,Student Services Coordinator,...,0,15-Jun,70.31,15-Jul,15-Jun,0,NaN,1,1,0
324475,0.114400,37854444,40617199,16000,16000,16000,351.40,NaN,NaN,Foreign Service Officer,...,0,15-Jun,351.4,15-Jul,15-Jun,0,NaN,1,0,1
324476,0.123900,38098114,40860827,15000,15000,15000,336.64,C,C1,MANAGEMENT,...,0,15-Jun,336.64,15-Jul,15-Jun,0,NaN,1,0,1

In [51]:
def fixLoanGrade(x):
    temp = str(x)
    if temp == '0':
        return "0"
    else:
        return temp

In [52]:
df['Sub_Loan_Grade'] = df['Sub_Loan_Grade'].map(fixLoanGrade)

In [53]:
dummies = pd.get_dummies(df['Sub_Loan_Grade'], prefix='Loan_Grade')
df = pd.concat([df, dummies], axis=1)
df.drop(['Loan_Grade'], axis=1, inplace=True)
df.drop(['Sub_Loan_Grade'], axis=1, inplace=True)

In [54]:
def printall(X, max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X.to_html(max_rows=max_rows)))
    
printall(df)

In [55]:
dummies = pd.get_dummies(df['Length_Employed'], prefix='Length_Employed')
df = pd.concat([df, dummies], axis=1)
df.drop(['Employer'], axis=1, inplace=True)
df.drop(['Length_Employed'], axis=1, inplace=True)

In [56]:
def printall(X, max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X.to_html(max_rows=max_rows)))
    
printall(df)

In [57]:
dummies = pd.get_dummies(df['Home_Owner?'], prefix='Home_Owner')
df = pd.concat([df, dummies], axis=1)
df.drop(['Home_Owner?'], axis=1, inplace=True)

In [58]:
def printall(X, max_rows=10):
    from IPython.display import display, HTML
    display(HTML(X.to_html(max_rows=max_rows)))
    
printall(df)