In [1]:
import pandas as pd

In [52]:
df = pd.read_csv("train.csv")

In [53]:
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [54]:
df[df.Age.isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
718,719,0,3,"McEvoy, Mr. Michael",male,NaN,0,0,36568,15.5000,NaN,Q
727,728,1,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
738,739,0,3,"Ivanoff, Mr. Kanio",male,NaN,0,0,349201,7.8958,NaN,S
739,740,0,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
760,761,0,3,"Garfirth, Mr. John",male,NaN,0,0,358585,14.5000,NaN,S
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
768,769,0,3,"Moran, Mr. Daniel J",male,NaN,1,0,371110,24.1500,NaN,Q
773,774,0,3,"Elias, Mr. Dibo",male,NaN,0,0,2674,7.2250,NaN,C
776,777,0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q
778,779,0,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
783,784,0,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
790,791,0,3,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
825,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
826,827,0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
832,833,0,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C
837,838,0,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [55]:
avgAge = df.Age.mean()

In [56]:
df.Age = df.Age.fillna(value=avgAge)

In [57]:
df[df.Age.isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [139]:
X = pd.DataFrame()
X['sex'] = df['Sex']
X['Pclass1'] = df['Pclass']
X['Pclass2'] = df['Pclass']
X['age'] = df['Age']
X['parch0'] = df['Parch']
X['parch1'] = df['Parch']
X['parch2'] = df['Parch']
X['parch3'] = df['Parch']
X['parch4'] = df['Parch']
X['parch5'] = df['Parch']
X['fare'] = df['Fare']
X['embarked_S'] = df['Embarked']
X['embarked_C'] = df['Embarked']
X['survived'] = df['Survived']

In [140]:
X

,sex,Pclass1,Pclass2,age,parch0,parch1,parch2,parch3,parch4,parch5,fare,embarked_S,embarked_C,survived
0,male,3,3,22.000000,0,0,0,0,0,0,7.2500,S,S,0
1,female,1,1,38.000000,0,0,0,0,0,0,71.2833,C,C,1
2,female,3,3,26.000000,0,0,0,0,0,0,7.9250,S,S,1
3,female,1,1,35.000000,0,0,0,0,0,0,53.1000,S,S,1
4,male,3,3,35.000000,0,0,0,0,0,0,8.0500,S,S,0
5,male,3,3,29.699118,0,0,0,0,0,0,8.4583,Q,Q,0
6,male,1,1,54.000000,0,0,0,0,0,0,51.8625,S,S,0
7,male,3,3,2.000000,1,1,1,1,1,1,21.0750,S,S,0
8,female,3,3,27.000000,2,2,2,2,2,2,11.1333,S,S,1
9,female,2,2,14.000000,0,0,0,0,0,0,30.0708,C,C,1
10,female,3,3,4.000000,1,1,1,1,1,1,16.7000,S,S,1
11,female,1,1,58.000000,0,0,0,0,0,0,26.5500,S,S,1
12,male,3,3,20.000000,0,0,0,0,0,0,8.0500,S,S,0
13,male,3,3,39.000000,5,5,5,5,5,5,31.2750,S,S,0
14,female,3,3,14.000000,0,0,0,0,0,0,7.8542,S,S,0
15,female,2,2,55.000000,0,0,0,0,0,0,16.0000,S,S,1
16,male,3,3,2.000000,1,1,1,1,1,1,29.1250,Q,Q,0
17,male,2,2,29.699118,0,0,0,0,0,0,13.0000,S,S,1
18,female,3,3,31.000000,0,0,0,0,0,0,18.0000,S,S,0
19,female,3,3,29.699118,0,0,0,0,0,0,7.2250,C,C,1
20,male,2,2,35.000000,0,0,0,0,0,0,26.0000,S,S,0
21,male,2,2,34.000000,0,0,0,0,0,0,13.0000,S,S,1
22,female,3,3,15.000000,0,0,0,0,0,0,8.0292,Q,Q,1
23,male,1,1,28.000000,0,0,0,0,0,0,35.5000,S,S,1
24,female,3,3,8.000000,1,1,1,1,1,1,21.0750,S,S,0
25,female,3,3,38.000000,5,5,5,5,5,5,31.3875,S,S,1
26,male,3,3,29.699118,0,0,0,0,0,0,7.2250,C,C,0
27,male,1,1,19.000000,2,2,2,2,2,2,263.0000,S,S,0
28,female,3,3,29.699118,0,0,0,0,0,0,7.8792,Q,Q,1
29,male,3,3,29.699118,0,0,0,0,0,0,7.8958,S,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,male,2,2,21.000000,0,0,0,0,0,0,11.5000,S,S,0
862,female,1,1,48.000000,0,0,0,0,0,0,25.9292,S,S,1
863,female,3,3,29.699118,2,2,2,2,2,2,69.5500,S,S,0
864,male,2,2,24.000000,0,0,0,0,0,0,13.0000,S,S,0
865,female,2,2,42.000000,0,0,0,0,0,0,13.0000,S,S,1
866,female,2,2,27.000000,0,0,0,0,0,0,13.8583,C,C,1
867,male,1,1,31.000000,0,0,0,0,0,0,50.4958,S,S,0
868,male,3,3,29.699118,0,0,0,0,0,0,9.5000,S,S,0
869,male,3,3,4.000000,1,1,1,1,1,1,11.1333,S,S,1
870,male,3,3,26.000000,0,0,0,0,0,0,7.8958,S,S,0
871,female,1,1,47.000000,1,1,1,1,1,1,52.5542,S,S,1
872,male,1,1,33.000000,0,0,0,0,0,0,5.0000,S,S,0
873,male,3,3,47.000000,0,0,0,0,0,0,9.0000,S,S,0
874,female,2,2,28.000000,0,0,0,0,0,0,24.0000,C,C,1
875,female,3,3,15.000000,0,0,0,0,0,0,7.2250,C,C,1
876,male,3,3,20.000000,0,0,0,0,0,0,9.8458,S,S,0
877,male,3,3,19.000000,0,0,0,0,0,0,7.8958,S,S,0
878,male,3,3,29.699118,0,0,0,0,0,0,7.8958,S,S,0
879,female,1,1,56.000000,1,1,1,1,1,1,83.1583,C,C,1
880,female,2,2,25.000000,1,1,1,1,1,1,26.0000,S,S,1
881,male,3,3,33.000000,0,0,0,0,0,0,7.8958,S,S,0
882,female,3,3,22.000000,0,0,0,0,0,0,10.5167,S,S,0
883,male,2,2,28.000000,0,0,0,0,0,0,10.5000,S,S,0
884,male,3,3,25.000000,0,0,0,0,0,0,7.0500,S,S,0
885,female,3,3,39.000000,5,5,5,5,5,5,29.1250,Q,Q,0
886,male,2,2,27.000000,0,0,0,0,0,0,13.0000,S,S,0
887,female,1,1,19.000000,0,0,0,0,0,0,30.0000,S,S,1
888,female,3,3,29.699118,2,2,2,2,2,2,23.4500,S,S,0
889,male,1,1,26.000000,0,0,0,0,0,0,30.0000,C,C,1
890,male,3,3,32.000000,0,0,0,0,0,0,7.7500,Q,Q,0

In [141]:
X.describe()

,Pclass1,Pclass2,age,parch0,parch1,parch2,parch3,parch4,parch5,fare,survived
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,2.308642,29.699118,0.381594,0.381594,0.381594,0.381594,0.381594,0.381594,32.204208,0.383838
std,0.836071,0.836071,13.002015,0.806057,0.806057,0.806057,0.806057,0.806057,0.806057,49.693429,0.486592
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.910400,0.000000
50%,3.000000,3.000000,29.699118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.454200,0.000000
75%,3.000000,3.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.000000,1.000000
max,3.000000,3.000000,80.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,512.329200,1.000000

In [142]:
#I'm dropping the two empty values from "Embarked" since there is no good way at this point to determine 
#what those values should be
X = X.dropna(axis=0)

In [143]:
X.describe()

,Pclass1,Pclass2,age,parch0,parch1,parch2,parch3,parch4,parch5,fare,survived
count,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000
mean,2.311586,2.311586,29.653446,0.382452,0.382452,0.382452,0.382452,0.382452,0.382452,32.096681,0.382452
std,0.834700,0.834700,12.968366,0.806761,0.806761,0.806761,0.806761,0.806761,0.806761,49.697504,0.486260
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.895800,0.000000
50%,3.000000,3.000000,29.699118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.454200,0.000000
75%,3.000000,3.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.000000,1.000000
max,3.000000,3.000000,80.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,512.329200,1.000000

In [144]:
y = X['survived']
X = X.drop(['survived'], axis=1)

In [145]:
pd.get_dummies(X.sex)

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
5         0     1
6         0     1
7         0     1
8         1     0
9         1     0
10        1     0
11        1     0
12        0     1
13        0     1
14        1     0
15        1     0
16        0     1
17        0     1
18        1     0
19        1     0
20        0     1
21        0     1
22        1     0
23        0     1
24        1     0
25        1     0
26        0     1
27        0     1
28        1     0
29        0     1
..      ...   ...
861       0     1
862       1     0
863       1     0
864       0     1
865       1     0
866       1     0
867       0     1
868       0     1
869       0     1
870       0     1
871       1     0
872       0     1
873       0     1
874       1     0
875       1     0
876       0     1
877       0     1
878       0     1
879       1     0
880       1     0
881       0     1
882       1     0
883       0     1
884       0     1
885       1     0
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[889 rows x 2 columns]

In [146]:
X['sex'] = pd.get_dummies(X.sex)['female']

In [147]:
pd.get_dummies(X.Pclass1)

     1  2  3
0    0  0  1
1    1  0  0
2    0  0  1
3    1  0  0
4    0  0  1
5    0  0  1
6    1  0  0
7    0  0  1
8    0  0  1
9    0  1  0
10   0  0  1
11   1  0  0
12   0  0  1
13   0  0  1
14   0  0  1
15   0  1  0
16   0  0  1
17   0  1  0
18   0  0  1
19   0  0  1
20   0  1  0
21   0  1  0
22   0  0  1
23   1  0  0
24   0  0  1
25   0  0  1
26   0  0  1
27   1  0  0
28   0  0  1
29   0  0  1
..  .. .. ..
861  0  1  0
862  1  0  0
863  0  0  1
864  0  1  0
865  0  1  0
866  0  1  0
867  1  0  0
868  0  0  1
869  0  0  1
870  0  0  1
871  1  0  0
872  1  0  0
873  0  0  1
874  0  1  0
875  0  0  1
876  0  0  1
877  0  0  1
878  0  0  1
879  1  0  0
880  0  1  0
881  0  0  1
882  0  0  1
883  0  1  0
884  0  0  1
885  0  0  1
886  0  1  0
887  1  0  0
888  0  0  1
889  1  0  0
890  0  0  1

[889 rows x 3 columns]

In [148]:
X['Pclass1'] = pd.get_dummies(X.Pclass1)[1]

In [149]:
X['Pclass2'] = pd.get_dummies(X.Pclass2)[2]

In [150]:
X

,sex,Pclass1,Pclass2,age,parch0,parch1,parch2,parch3,parch4,parch5,fare,embarked_S,embarked_C
0,0,0,0,22.000000,0,0,0,0,0,0,7.2500,S,S
1,1,1,0,38.000000,0,0,0,0,0,0,71.2833,C,C
2,1,0,0,26.000000,0,0,0,0,0,0,7.9250,S,S
3,1,1,0,35.000000,0,0,0,0,0,0,53.1000,S,S
4,0,0,0,35.000000,0,0,0,0,0,0,8.0500,S,S
5,0,0,0,29.699118,0,0,0,0,0,0,8.4583,Q,Q
6,0,1,0,54.000000,0,0,0,0,0,0,51.8625,S,S
7,0,0,0,2.000000,1,1,1,1,1,1,21.0750,S,S
8,1,0,0,27.000000,2,2,2,2,2,2,11.1333,S,S
9,1,0,1,14.000000,0,0,0,0,0,0,30.0708,C,C
10,1,0,0,4.000000,1,1,1,1,1,1,16.7000,S,S
11,1,1,0,58.000000,0,0,0,0,0,0,26.5500,S,S
12,0,0,0,20.000000,0,0,0,0,0,0,8.0500,S,S
13,0,0,0,39.000000,5,5,5,5,5,5,31.2750,S,S
14,1,0,0,14.000000,0,0,0,0,0,0,7.8542,S,S
15,1,0,1,55.000000,0,0,0,0,0,0,16.0000,S,S
16,0,0,0,2.000000,1,1,1,1,1,1,29.1250,Q,Q
17,0,0,1,29.699118,0,0,0,0,0,0,13.0000,S,S
18,1,0,0,31.000000,0,0,0,0,0,0,18.0000,S,S
19,1,0,0,29.699118,0,0,0,0,0,0,7.2250,C,C
20,0,0,1,35.000000,0,0,0,0,0,0,26.0000,S,S
21,0,0,1,34.000000,0,0,0,0,0,0,13.0000,S,S
22,1,0,0,15.000000,0,0,0,0,0,0,8.0292,Q,Q
23,0,1,0,28.000000,0,0,0,0,0,0,35.5000,S,S
24,1,0,0,8.000000,1,1,1,1,1,1,21.0750,S,S
25,1,0,0,38.000000,5,5,5,5,5,5,31.3875,S,S
26,0,0,0,29.699118,0,0,0,0,0,0,7.2250,C,C
27,0,1,0,19.000000,2,2,2,2,2,2,263.0000,S,S
28,1,0,0,29.699118,0,0,0,0,0,0,7.8792,Q,Q
29,0,0,0,29.699118,0,0,0,0,0,0,7.8958,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,0,1,21.000000,0,0,0,0,0,0,11.5000,S,S
862,1,1,0,48.000000,0,0,0,0,0,0,25.9292,S,S
863,1,0,0,29.699118,2,2,2,2,2,2,69.5500,S,S
864,0,0,1,24.000000,0,0,0,0,0,0,13.0000,S,S
865,1,0,1,42.000000,0,0,0,0,0,0,13.0000,S,S
866,1,0,1,27.000000,0,0,0,0,0,0,13.8583,C,C
867,0,1,0,31.000000,0,0,0,0,0,0,50.4958,S,S
868,0,0,0,29.699118,0,0,0,0,0,0,9.5000,S,S
869,0,0,0,4.000000,1,1,1,1,1,1,11.1333,S,S
870,0,0,0,26.000000,0,0,0,0,0,0,7.8958,S,S
871,1,1,0,47.000000,1,1,1,1,1,1,52.5542,S,S
872,0,1,0,33.000000,0,0,0,0,0,0,5.0000,S,S
873,0,0,0,47.000000,0,0,0,0,0,0,9.0000,S,S
874,1,0,1,28.000000,0,0,0,0,0,0,24.0000,C,C
875,1,0,0,15.000000,0,0,0,0,0,0,7.2250,C,C
876,0,0,0,20.000000,0,0,0,0,0,0,9.8458,S,S
877,0,0,0,19.000000,0,0,0,0,0,0,7.8958,S,S
878,0,0,0,29.699118,0,0,0,0,0,0,7.8958,S,S
879,1,1,0,56.000000,1,1,1,1,1,1,83.1583,C,C
880,1,0,1,25.000000,1,1,1,1,1,1,26.0000,S,S
881,0,0,0,33.000000,0,0,0,0,0,0,7.8958,S,S
882,1,0,0,22.000000,0,0,0,0,0,0,10.5167,S,S
883,0,0,1,28.000000,0,0,0,0,0,0,10.5000,S,S
884,0,0,0,25.000000,0,0,0,0,0,0,7.0500,S,S
885,1,0,0,39.000000,5,5,5,5,5,5,29.1250,Q,Q
886,0,0,1,27.000000,0,0,0,0,0,0,13.0000,S,S
887,1,1,0,19.000000,0,0,0,0,0,0,30.0000,S,S
888,1,0,0,29.699118,2,2,2,2,2,2,23.4500,S,S
889,0,1,0,26.000000,0,0,0,0,0,0,30.0000,C,C
890,0,0,0,32.000000,0,0,0,0,0,0,7.7500,Q,Q

In [151]:
pd.get_dummies(X.parch0)

     0  1  2  3  4  5  6
0    1  0  0  0  0  0  0
1    1  0  0  0  0  0  0
2    1  0  0  0  0  0  0
3    1  0  0  0  0  0  0
4    1  0  0  0  0  0  0
5    1  0  0  0  0  0  0
6    1  0  0  0  0  0  0
7    0  1  0  0  0  0  0
8    0  0  1  0  0  0  0
9    1  0  0  0  0  0  0
10   0  1  0  0  0  0  0
11   1  0  0  0  0  0  0
12   1  0  0  0  0  0  0
13   0  0  0  0  0  1  0
14   1  0  0  0  0  0  0
15   1  0  0  0  0  0  0
16   0  1  0  0  0  0  0
17   1  0  0  0  0  0  0
18   1  0  0  0  0  0  0
19   1  0  0  0  0  0  0
20   1  0  0  0  0  0  0
21   1  0  0  0  0  0  0
22   1  0  0  0  0  0  0
23   1  0  0  0  0  0  0
24   0  1  0  0  0  0  0
25   0  0  0  0  0  1  0
26   1  0  0  0  0  0  0
27   0  0  1  0  0  0  0
28   1  0  0  0  0  0  0
29   1  0  0  0  0  0  0
..  .. .. .. .. .. .. ..
861  1  0  0  0  0  0  0
862  1  0  0  0  0  0  0
863  0  0  1  0  0  0  0
864  1  0  0  0  0  0  0
865  1  0  0  0  0  0  0
866  1  0  0  0  0  0  0
867  1  0  0  0  0  0  0
868  1  0  0  0  0  0  0
869  0  1  0  0  0  0  0
870  1  0  0  0  0  0  0
871  0  1  0  0  0  0  0
872  1  0  0  0  0  0  0
873  1  0  0  0  0  0  0
874  1  0  0  0  0  0  0
875  1  0  0  0  0  0  0
876  1  0  0  0  0  0  0
877  1  0  0  0  0  0  0
878  1  0  0  0  0  0  0
879  0  1  0  0  0  0  0
880  0  1  0  0  0  0  0
881  1  0  0  0  0  0  0
882  1  0  0  0  0  0  0
883  1  0  0  0  0  0  0
884  1  0  0  0  0  0  0
885  0  0  0  0  0  1  0
886  1  0  0  0  0  0  0
887  1  0  0  0  0  0  0
888  0  0  1  0  0  0  0
889  1  0  0  0  0  0  0
890  1  0  0  0  0  0  0

[889 rows x 7 columns]

In [152]:
X['parch0'] = pd.get_dummies(X.parch0)[0]

In [153]:
X['parch1'] = pd.get_dummies(X.parch1)[1]

In [154]:
X['parch2'] = pd.get_dummies(X.parch2)[2]

In [155]:
X['parch3'] = pd.get_dummies(X.parch3)[3]

In [156]:
X['parch4'] = pd.get_dummies(X.parch4)[4]

In [157]:
X['parch5'] = pd.get_dummies(X.parch5)[5]

I removed the SibSp due to it giving me a duplication error and that I should reduce the dimensions

In [160]:
X['embarked_S'] = pd.get_dummies(X.embarked_S)['S']

In [161]:
X['embarked_C'] = pd.get_dummies(X.embarked_C)['C']

In [162]:
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [163]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [167]:
from sklearn.metrics import accuracy_score

In [168]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty='l2', C=1)

In [169]:
model.fit(X_train, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [170]:
print "Logistic accuracy is %2.2f" % accuracy_score(y_test, model.predict(X_test))

Logistic accuracy is 0.80

In [172]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

In [175]:
log_reg_roc_auc = roc_auc_score(y_test, model.predict(X_test))
print "Titanic Logisitic Regression AUC = %2.2f" % log_reg_roc_auc
print classification_report(y_test, model.predict(X_test))

Titanic Logisitic Regression AUC = 0.80
             precision    recall  f1-score   support

          0       0.86      0.80      0.83       109
          1       0.71      0.80      0.75        69

avg / total       0.80      0.80      0.80       178